* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

/* Header */
header {
  padding: 60px;
  text-align: center;
  background: #151B23;
  color: #D1D7E0;
}

/* Top navigation bar */
.navbar {
  display: flex;
  background-color: #151B23;
}

/* Navigation bar links */
.navbar a {
  color: #D1D7E0;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.container {  
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #212830;
  padding: 20px;
  color: #D1D7E0;
}

/* Main column */
.main {
  flex: 70%;
  background-color: #212830;
  padding: 20px;
  color: #D1D7E0;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }
}