/*
body {
    padding: 0;
    margin: 0;
}

img {
    width: 30%;
    height: auto;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
}
.container div {
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
  border: 1px solid #1d1d1d;
}
.container div.menu {
  grid-area: menu;
  border: 1px solid #1d1d1d;
}
.container div.content {
  grid-area: content;
  border: 1px solid #1d1d1d;
}
.container div.story {
    border-right: 1px solid #1d1d1d;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}
 
.headlines {
  display: flex;
}

.headlines div {
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}
*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

/* Header */
header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.container {  
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }
}