body {
    padding: 0;
    margin: 0;
}

img {
    width: 30%;
    height: auto;
}
/* Grid */
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  /* padding: 5px; */
}
.container div {
  /* background-color: white; */
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
  border: 1px solid #1d1d1d;
}
.container div.menu {
  grid-area: menu;
  border: 1px solid #1d1d1d;
}
.container div.content {
  grid-area: content;
  border: 1px solid #1d1d1d;
}
.container div.story {
    border-right: 1px solid #1d1d1d;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}

/* headlines 
.headlines {
  display: flex;
}

.headlines div {
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}
*/